<container>
  <row class="footer">
    <columns>
      <row class="footer-row-one">
        <columns class="footer-col-one">
          <p>
            Call us at <strong>1-800-672-4399</strong> or reply to this email
          </p>
        </columns>
      </row>

      <row class="footer-row-two">
        <columns>
          <center>
            <img src="https://imgur.com/bJA4oR0.png" alt="" />
          </center>
          <p>CUSTOMER SERVICE</p>
        </columns>
        <columns>
          <center>
            <img src="https://imgur.com/H2YkZ9j.png" alt="" />
          </center>
          <p>FREE SHIPPING ORDERS $49+</p>
        </columns>
        <columns>
          <center>
            <img src="https://imgur.com/PvLBBKc.jpg" alt="" />
          </center>
          <p>SATISFACTION GAURANTEED</p>
        </columns>
        <columns>
          <center>
            <img src="https://imgur.com/fIjXOXo.jpg" alt="" />
          </center>
          <p>HASSEL-FREE RETURNS</p>
        </columns>
      </row>
      <row class="footer-logo">
        <columns>
          <center>
            <img src="https://imgur.com/29STWJR.png" alt="" />
          </center>
        </columns>
      </row>
    </columns>
  </row>
</container>
